<div id="<%= dom_id profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= profile.user_id %>
  </p>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= profile.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= profile.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= profile.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= profile.country %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone no:</strong>
    <%= profile.phone_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identity no:</strong>
    <%= profile.identity_no %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= profile.image %>
  </p>

</div>
