<div id="<%= dom_id user_role %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_role.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user_role.role_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Add:</strong>
    <%= user_role.access_add %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Edit:</strong>
    <%= user_role.access_edit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Update:</strong>
    <%= user_role.access_update %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Delete:</strong>
    <%= user_role.access_delete %>
  </p>

</div>
