<th scope="row" class="px-1 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= hotel.name %>
</th>
<td class="px-1 py-1">
    <%= hotel.address %>
</td>
<td class="px-1 py-1">
    <%= hotel.phone %>
</td>
<td class="px-1 py-1">
    <%= hotel.geolocation %>
</td>
<td class="px-1 py-1">
    <%= hotel.descriptions %>
</td>
<td class="px-1 py-1">
    <%= hotel.country %>
</td>
<td class="px-1 py-1">
    <%= hotel.score %>
</td>
