<div id="<%= dom_id hotel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hotel.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= hotel.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= hotel.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stars:</strong>
    <%= hotel.stars %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check in time:</strong>
    <%= hotel.check_in_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check out time:</strong>
    <%= hotel.check_out_time %>
  </p>

</div>
