<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= hotel.name %>
</th>
<td class="px-6 py-4">
    <%= hotel.address %>
</td>
<td class="px-6 py-4">
    <%= hotel.phone %>
</td>
<td class="px-6 py-4">
    <%= hotel.stars %>
</td>
<td>
  <%= hotel.check_in_time %>
</td>
<td>
  <%= hotel.check_out_time %>
</td>
