<%= turbo_frame_tag "content_turbo_frame" do %>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% content_for :title, "Hotels" %>

    <div class="flex justify-between items-center">
      <div class="flex" data-controller="hotel-search">
        <h1 class="font-bold text-4xl">Hotels</h1>
        <%#= render 'form_search' %>  
        <%= form_with(model: Hotel, class: 'contents') do |f| %>
          <%= f.text_field :search, 
              data: {
                action: 'input->hotel-search#search',
                hotel_search_target: 'params'
              },
              class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", placeholder:"search..." %>
        <% end %>
      </div>
      <div class="flex flex-row gap-x-2">
        <%= link_to "New hotel", new_hotel_path, 
            class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium",
            data: { turbo_frame: "content_turbo_frame" } %>
        <%= link_to "Cancel", dashboard_path, class: "rounded-lg py-3 px-5 bg-red-600 text-white block font-medium" %>
      </div>
    </div>

    <div id="hotels" class="relative overflow-x-auto min-w-full mt-4">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Address
              </th>
              <th scope="col" class="px-6 py-3">
                  Phone
              </th>
              <th scope="col" class="px-6 py-3">
                  Stars
              </th>
              <th scope="col" class="px-6 py-3">
                  Check in time
              </th>
              <th scope="col" class="px-6 py-3">
                  Check out time
              </th>
              <th scope="col" class="px-6 py-3">
                Actions
              </th>
          </tr>
        </thead>
        <tbody>
          <% @hotels.each do |hotel| %>
            <div id="<%= dom_id hotel %>">
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <%= render hotel %>
                <td class="flex space-x-2 px-6 py-4">
                  <%= link_to "Edit", edit_hotel_path(hotel), 
                      data: { turbo_frame: "content_turbo_frame"},
                      class: "rounded-lg py-3 px-5 bg-yellow-100 inline-block font-medium" %>
                  <%= button_to "Delete", hotel, method: :delete, class: "rounded-lg py-3 px-5 bg-red-100 font-medium" %>
                </td>
              </tr>
            </div>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>